@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav{
    background-color: rgba(0,0,0, 1.0);
    padding: 35px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #33FFFF;
}


nav .logo a{
    font-family: arial;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 550;
    font-weight: bold;
    position: relative;
    left: 80px;
    top: 30px;
}


nav .logo h4{
    font-family: arial;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 230;
    font-weight: bold;
    position: relative;
    left: 90px;
    top: 30px;
  
}


nav .imagem-logo{
    position: absolute;
    top: 0px;
    width: 76px;
    margin-right: 350px;
    margin-bottom: 100px;
    margin-top: 27px;

}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}


nav li{
    margin-left: 7px;
}


nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    left: 610px;
    position: relative;
    bottom: 35px;
}


nav li a:hover{
    background-color: white;
    color: black;
}


/*   footer  */
#footer{
    padding: 50px 0 30px;
}


hr{
    width: 100%;
    border: none;
    border-top: 1px solid #33FFFF;
}


.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}


.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}


.footer-right-col{
    flex-basis: 35%;
}


.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.link-title h4{
    color: #33FFFF;
    margin-bottom: 20px;
}


.link-title small{
    color: #777;
    font-size: 13px;
}


.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}


.copyright-text, .footer-logo{
    flex-basis: 40%;
}


.footer-logo img{
    width: 100px;
}


.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}